body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 1000;
}

.left, .center, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  height: 40px;
}

.center input {
  padding: 6px 12px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
}

.search-btn {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #eee;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.icon, .avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.main-content {
  display: flex;
  margin-top: 30px;
  padding: 16px;
  gap: 24px;
  flex-wrap: wrap;
}

.video-principal {
  flex: 3;
  background-color: white;
  padding: 16px;
}

.video-principal iframe {
  width: 100%;
  max-width: 952px;
  height: 450px;
  border: none;
  margin: 0 auto;
  display: block;
  margin-left: 40px;
}

.video-principal h2 {
  margin-top: 16px;
  font-size: 20px;
  color: #222;
}

.video-principal p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}


.video-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 16px;
  gap: 8px;
  flex-wrap: wrap;
}

.video-infos .canal-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.titulo {
  margin-left: 50px;

}

.descricao{
  margin-left: 50px;
}

.canal-logo {
  width: 48px;
  height: 48px;
  margin-left: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.canal-texto p {
  margin: 0;
  line-height: 1.2;
}

.nome-canal {
  font-weight: bold;
  font-size: 14px;
  color: #222;
}

.inscritos {
  font-size: 12px;
  color: #666;
}

.btn-inscrever button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 20px;
}



.material-icons {
  font-size: 24px;
  color: #606060;
}


.video-lista {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 480px;
  
}

.video-card {
  display: flex;
  background-color: white;
  padding: 2px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  gap: 2px;
}

.video-card img {
  width: 188px;
  height: 104px;
  margin-top: 20px;
  margin-right: 10px;
  object-fit: cover;

  
}

.video-card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color:white;
}

.video-card h3 {
  font-size: 14px;
  margin: 0;
  color: #222;
}

.video-card p {
  font-size: 12px;
  color: #090909;
  margin: 4px 0 0;
}


@media (max-width: 960px) {
  .main-content {
    flex-direction: column;
  }

  .video-principal iframe {
    max-width: 100%;
  }

  .video-lista {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }

  .video-card {
    width: calc(50% - 12px);
  }
}

@media (max-width: 600px) {
  .video-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .video-card img {
    width: 100%;
    height: auto;
  }

  .video-card .info {
    padding-top: 8px;
  }

  .video-infos {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .center input {
    width: 180px;
  }

  .video-icons {
    justify-content: flex-start;

  }
  

}
